body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-black;
  padding: 2rem;
  background-color: $color-grey-light-4;
  
}

.paragraph {
  font-size: $default-font-size;

  &--bold{
    font-weight: bold;
  }

  &--mid{
    font-size: $default-font-size-mid;
  }

  &--mid--2 {
    font-size: $default-font-size;
  }

  &--sm{
    font-size: $default-font-size-sm;
  }

  &--blue {
    color: $color-blue;
  }

  &--white {
    color: $color-white;
  }

  &--grey {
    color: $color-grey-dark-2;
  }


  /*&:not(:last-child) {
    margin-bottom: 1rem;
  }*/
}

.hrGeneral {
  border-top: 0.5px solid $color-grey-light-4;
}