.navigation {
  height: 6rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $color-primary;
  transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1.5rem;

  & > :not(:last-child) {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: $color-primary;
  }

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

    &__imgBox {
      position: relative;
      display: flex;
      width: 100%;
      padding: 1rem 5rem;

      &__img {

        text-decoration: none;
        color: $color-white;
        width: 100%;
  
        &:hover {
          cursor: pointer;
        }
  
      }
    }
  }

  &__search {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__leftButtons {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: $color-white;
      
      & > :not(:last-child) {
        margin-right: 3.8rem;
      }

      &__ind {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &:hover{
          cursor: pointer;
        }
      }
    }

  }
}

.navigation-prov {
  background-color: $color-secondary;
}

.navigation-adm {
  background-color: $color-tertiary;
}